.cart {
    max-width: 991px;
    margin: 50px auto; 
    text-align: center;
    border-radius:10px;
    box-shadow: 2px 2px 10px grey;
    padding:10px;
}

.cart-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.device-name{
    font-weight: bold;
    font-size: large;
}
.device-desc{
    font-size:18px;
}

.device-pic img{
    object-fit: contain;
    width: 100%;
}

.item-desc p{
    font-weight: bold;
}

.cart-summary {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-left: 2px solid #ddd;
    padding-left: 20px;
}

.checkout-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border:none;
    border-radius:10px;
    cursor: pointer;
    width: 100%;
    transition: box-shadow 0.5s;
}

.checkout-btn:hover{
    box-shadow: 1px 1px 20px grey;
    opacity:0.7;
}
.checkout-btn:active{
    opacity:0.8;
}


.cart-footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0;
    margin-top: 50px; 
}

.footer-bottom img {
    width: 60px;
    height: 60px;
    margin: 20 5px;
}
