/* Product Grid Styling
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 70%;
    height: auto; 
    max-width: 1200px; 
    max-height: 800px;
    margin: 50px auto; 
    justify-content: center;
    overflow: hidden; 
} */

/* Ensures the product cards are positioned properly inside the container */
.product-card {
    border: 1px solid #ddd;
    background-color: white;
    padding: 15px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
    position: relative;
    overflow: hidden;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.product-card h3 {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
}

.product-card p {
    font-size: 18px;
    color: #cc0c39;
    font-weight: bold;
}

.add-to-cart {
    background-color: #ffa41c;
    color: #111;
    border: none;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
    transition: background 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.add-to-cart:hover {
    background-color: #ff8f00;
}
